*{
    box-sizing: border-box;
}



.parent{
    width: 1010px;
    height: 503px;
    border: 1px solid gray;
    display: inline-block;
    margin: 86px 95px 86px 95px;
    text-align: center;
}



.first, .second{
    width: 376px;
    height: 375px;
    display: inline-block;
    vertical-align: middle;
}

img{
    width: 376px;
    height: 375px;
    border: 64px 48px 64px 99px;    
}

.first{
    width: 376px;
    height: 375px;
    margin: 48px 64px;
}

.second{
    text-align: left;
}

button{
    height: 50px;
    width: 252px;
    margin-top: 10px;
    background-color: #ec744a;
    border: none;
    margin: 56px 0px 81px;
}

span{
    font-weight: 400;
    width: 103px;
    height: 28px;
    color: #2f2f2f;
    font-size: 30px;
    margin: 50px 0px;
}

h1{
    width: 178px;
    height: 22px;
    color: #2f2f2f;
    font-size: 23px;
    font-weight: 400;
    font-style: normal;
    
}

p{
    width: 393px;
    height: 50px;
    color: #2f2f2f;
    font-family: arial MT;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    margin: 30px 1px;
}

.best{
    width: 35px;
    height: 14px;
    color: #2f2f2f;
    font-family: arial MT;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    
}