.box{
    background-color: aliceblue;
    border-color: black;
    width: 800px;
    height: 400px;
    border-width: 5px;
    border-style: solid;
    padding: 20px;
}

h1{
    text-align: right ;
}
p{
    text-align: right ;
}
span{
    text-align: right;
}
button{
    text-align: right center;
}