h1{
    color: black;
}
body{
    background-image: url("C:/Users/FEDOR/Documents/Site html/images/GREAT.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}
    h1{
        color: yellowgreen;
      
    }
  


    
p{
    color: purple;
}
body{
    color: green;
}
h2{
    text-indent: 30px;
    border: 5px groove black;
    padding: 10px 20px 10px 20px;
    margin: 20px auto;
    width: 400px;
    
}

.cursive{
    font-family: cursive;

}

del{
    text-decoration: line-through;
    text-decoration-color: black;
}
